{% extends "padre.html "%}

{% load static %}

{% block h1 %}

    <p align="justify-content-center"><font face="century gothic" ><br>Proyecto final para el curso de Python en Coderhouse - 2022</br>
                                
    <br>Grupo integrado por Gastón Aquino, Ezequiel Falico, y Matías Gonzalez.
    En el caso de Gastón y Ezequiel son ingenieros electrónicos, y Matías se encuentra finalizando la carrera desarrollando su proyecto final.</br>
    <br>Juntos decidimos, en base a que como en la carrera estudiamos mucha programación, orientarnos al desarrollo web.
    y en particular en el backend.</br>
    </font>
    </p>
{% endblock %}