{% extends "padre.html "%}

{% load static %}

{% block h1 %}

                            <p align="justify"><font face="century gothic" ><br>Somos una empresa dedicada al E-Commerce. Impulsamos nuestras decisiones en base a las necesidades del mercado y compra venta de insumos, acompañado por nuestra pasión por la simplificación de las necesidades de nuestros clientes.<br>
                                
                                <br>Nuestros amplia infrestructura de encuestamiento nos brinda una herramienta esencial en la finalidad de nuestros servicios, que satisfacen las inumerables demandas y facilitan el crecimiento de los emprendedores que intentan forjar su futuro en el mercado.</br>

                                <br>Desde el dominio de nuestro entorno didactico, AGF E-Commerce simplifica el uso de la plataforma para clientes de todas las edades, ampliando la oferta de soluciones, servicios y negocios brillantes - AGF E-Commerce.</br></font>
                            </p>
{% endblock %}