{% extends "padre.html" %}

{% load static %}

{% block contenido %}

  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre Empresa</th>
            <th scope="col">CUIT</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
          </tr>
          <tr>     
            <td>{{usuario.nom_vendedor}}</td>
            <td>{{usuario.cuit}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.emaeil}}</td>
                   
          </tr>
        </thead>
        <th scope="col">Comentarios</th>
        <th scope="col">Remitente</th>
        <tbody class="table-group-divider">
        
          {% for mensaje in mensaje%}
          <tr>     
            <td>{{mensaje.texto}}</td>
            <br>
            <td>{{mensaje.remitente}}</td>
                       
          </tr>
        {% endfor %}  
        
        
        </tbody>

    </table>
    
    <a class="navbar-brand" href="{% url 'vendedores' %}"><b>Volver</b></a>
{% endblock %}   