{% extends "padre.html" %}

{% load static%}
{% block buscar %} 
<a class="btn btn-primary" href="buscar">Buscar Usuarios</a>
<a class="btn btn-primary" href="alta_usuarios">Agregar</a>
{% endblock%} 
{% block contenido %}
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dni</th>
            <th scope="col">Descripcion</th>
            
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for n in usuario %}
          <tr>     
            <th scope="row">{{n.id}}</th>
            <td>{{n.nombre}}</td>
            <td>{{n.dni}}</td>
            <td>{{n.descripcion}}</td>
          </tr>
        {% endfor %}

        </tbody>
    </table>


    
{% endblock %}    