{% extends "padre.html" %}

{% load static %}
{% block buscar %} 
<a class="btn btn-primary" href="buscar">Buscar Usuarios</a>
{% endblock%} 
{% block contenido %}
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dni</th>
            <th scope="col">Descripcion</th>
            
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for n in usuario %}
          <tr>     
            <td>{{n.nombre}}</td>
            <td>{{n.dni}}</td>
            <td>{{n.descripcion}}</td>
            
            {% if request.user.is_authenticated %}
            <td><a href="{% url 'EditarUsuario' n.id %}"> EDITAR </a></td>
            <td><a href="{% url 'EliminarUsuario' n.id %}"> BORRAR </a></td>
            {% endif %}
          </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if request.user.is_authenticated %}
    <button><a href="{% url 'AgregarUsuario' %}", style="color:green"> AGREGAR </a></button>
    {% endif %}
{% endblock %}    