{% extends "padre.html" %}

{% load static %}

{% block buscar %} 
<a class="btn btn-primary" href="{% url 'buscar_vendedor' %}">Buscar Vendedores</a>
{% endblock %} 

{% block contenido %}
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre Empresa</th>
            <th scope="col">CUIT</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            
            
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for n in vendedor %}
          <tr>     
            <td>{{n.nom_vendedor}}</td>
            <td>{{n.cuit}}</td>
            <td>{{n.direccion}}</td>
            <td>{{n.emaeil}}</td>
            
            {% if request.user.is_authenticated %}
            <td><a href="{% url 'EditarVendedor' n.id %}"> EDITAR </a></td>
            <td><a href="{% url 'EliminarVendedor' n.id %}"> BORRAR </a></td>
            <td><a href="{% url 'EnviarMensajeVendedor' n.id %}"> Contactar </a></td>
            <td><a href="{% url 'MensajesVendedor' n.id %}"> Mensajes </a></td>
            {% endif %}
          </tr>
          
        {% endfor %}
        
        </tbody>

    </table>
    {% if request.user.is_authenticated %}
    <button><a href="{% url 'AgregarVendedor' %}", style="color:green"> AGREGAR </a></button>
    {% endif %}
    
{% endblock %}   